* {
    box-sizing: border-box;
}
body {
   background-color: #a773c3;
   color: #ffa1c5;
}

.form-container {
    margin: auto;
    max-width: 800px;
}

.search-box {
    flex: 2;
    padding: 5px;
   
}
ul { 
    list-style: none;
    
    
    
}
.search-form {
    display: flex;
    padding: 5px;
    flex-wrap: wrap; 
    
}
.search-term {
    flex-basis: 100%;
}
h1 {
    margin: auto;
    padding: 20px;
    flex-basis: 100%
}
label {
    flex-basis: 100%;
    padding: 5px;
}
.hidden {
    display: none;
  }